/* LexOne - paleta de marca (legal / confianza) */
:root {
  --ion-color-primary: #0B2545;
  --ion-color-primary-rgb: 11, 37, 69;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0a2040;
  --ion-color-primary-tint: #233a5a;

  --ion-color-secondary: #C9A24B;
  --ion-color-secondary-rgb: 201, 162, 75;
  --ion-color-secondary-contrast: #1a1a1a;
  --ion-color-secondary-contrast-rgb: 26, 26, 26;
  --ion-color-secondary-shade: #b18f42;
  --ion-color-secondary-tint: #cfac5d;

  --ion-color-tertiary: #13315C;
  --ion-color-tertiary-rgb: 19, 49, 92;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #112b51;
  --ion-color-tertiary-tint: #2b466c;

  --ion-font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
