<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Query</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list lines="none">
    <ion-item *ngFor="let m of mensajes">
      <ion-label [class.mensaje-cliente]="m.autor === 'cliente'">
        <ion-note>{{ m.autor === 'cliente' ? 'Tú' : 'Despacho' }}</ion-note>
        <p>{{ m.texto }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-toolbar>
  <ion-item lines="none">
    <ion-textarea
      placeholder="Escribe tu consulta..."
      [(ngModel)]="nuevoMensaje"
      autoGrow="true">
    </ion-textarea>
    <ion-button slot="end" (click)="enviar()">Enviar</ion-button>
  </ion-item>
</ion-toolbar>
